<div class="">
    <div style="display: flex; justify-content: center;">
        <div class="w-75"> 
            <button class="btn btn-danger p-2 m-2" (click)="logOut()">Logout<i class="fa-solid fa-power-off ms-1"></i></button>
            <div class="card m-3 p-3">
                <div class="mb-2">
                    <h1>I tuoi progetti</h1>
                </div>
                <div class="list-container">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th class="px-3">ID</th>
                                <th class="px-3">Titolo</th>
                                <th class="px-3">Creato il</th>
                                <th class="px-3">Descrizione</th>
                                <th class="px-3">Ordine</th>
                                <th class="px-3">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (isProjectsLoading) {
                                <tr class="text-center p-3" >
                                    <td colspan="100%">Caricamento...</td>
                                </tr>
                            } @else {
                                @if (projects.length < 1) {
                                    <tr class="text-center p-3">
                                        <td colspan="100%">Nessun progetto da mostrare</td>
                                    </tr>
                                }
                                @for (project of projects; track $index) {
                                    <tr>
                                        <td class="p-3">{{ project.id }}</td>
                                        <td class="p-3">{{ project.title }}</td>
                                        <td class="p-3">{{ project.createdAt | date:'dd/MM/yyyy' }}</td>
                                        <td class="p-3">{{ project.description }}</td>
                                        <td class="px-3">{{ project.order }}</td>
                                        <td class="p-3">
                                            <i (click)="managePhotos(project)" class="action-icon fa-solid fa-image px-1"></i>
                                            <i (click)="editProject(project)" class="action-icon fa-solid fa-pen px-1"></i>
                                            <i (click)="openWarningModal(project)" class="action-icon fa-solid fa-trash px-1"></i>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <button class="btn btn-success p-2 m-3 float-end" (click)="createNewProject()">Crea nuovo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: flex;" [ngClass]="!isModalOpen ? 'd-none' : ''">
    <app-modal-warning
    [isLoading]="isDeletionLoading"
    [loadingCompleted]="deletionLoadingCompleted"
    [loadingMessage]="deleteProjectMessage"
    [loadingSuccess]="deletionSuccessful"
    [warning]="`Sei sicur* di voler eliminare definitivamente il progetto '${projectToDelete.title}?'`"
    (action)="receiveModalAction($event)"
    ></app-modal-warning>
</div>