.spinner {
    font-size: 2rem;
    animation: spin 1s linear infinite;
    color: rgb(3, 78, 252);
}

.loading-result {
  font-size: 2rem;
}

.loading-success {
  color: green;
}

.loading-fail {
  color: red;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}