<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <div style="width: 40vw;" class="d-flex flex-column align-items-center card p-5">
            <p>OOPS! La risorsa che stai cercando non esiste!</p>
            <img src="/404-bear.png" alt="confused cartoon bear" style="width: 350px;">
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-outline-primary" (click)="navigate()"><i class="fas fa-arrow-left m-2"></i>{{ 'Indietro' }}</button>
            </div>
        </div>
    </div>
</div>
