# backend Java 21
# url database
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/database

#auto creazione / aggiornamento delle tabelle in base alle @Entity
SPRING_JPA_HIBERNATE_DDL_AUTO=update

#imposta il dialetto SQL con quello compatibile con il DB
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect

# cred DB, lette SOLO dal container PostgreSQL
POSTGRES_DB=database
POSTGRES_USER=backend
POSTGRES_PASSWORD=db_pass

#cred DB, lette SOLO dall' app spring boot
SPRING_DATASOURCE_USERNAME=backend
SPRING_DATASOURCE_PASSWORD=db_pass

# JWT
# almeno 32 caratteri (256 bit) per HS256
JWT_SECRET=cambia-questa-stringa-con-almeno-32-caratteri-davvero
# durata token in millisecondi (qui: 12h)
JWT_EXPIRATION=86400000