<div (click)="goToProject()" class="project">
    <div class="project-cover-container">
        <img class="project-cover" src="{{ getCoverImageUrl(project.coverImageUrl) }}" alt="cover progetto">
    </div>
    <div class="project-text-container">
        <div class="project-header-container" >
            <h3 class="project-header">
                {{ project.title }}
            </h3>
        </div>
        <p class="project-text">
            {{ project.description }}
        </p>
    </div>
</div>